<!DOCTYPE html>
<html lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header.html :: header(title='navigation bar')">
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-sm bg-light" th:fragment="navigation_bar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="">File Storage</a>
            </div>
            <ul class="nav me-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                <li class="nav-item"><a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/viewfiles}">Your files</a></li>
                <li class="nav-item"><a class="nav-link" sec:authorize="hasAuthority('Role_Admin')" th:href="@{/userlist}">List of users</a></li>
            </ul>
            <ul class="nav ms-auto" sec:authorize="!isAuthenticated()">
                <li class="nav-item"><a class="nav-link" th:href="@{/register}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
            <ul class="nav ms-auto" sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <form method="post" th:action="@{/logout}">
                        <button class="btn btn-secondary navbar-btn" type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>