<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header.html :: header('Access Denied')">
</head>
<body>
    <nav th:insert="fragments/navigationbar.html :: navigation_bar"></nav>
    <div class="container">
        <div th:insert="fragments/messages"></div>
        <p>You tried to access secured page but you do not have rights</p><br>
        <p>You can return to main page using navigation bar above</p>
    </div>
    <footer th:insert="fragments/footer.html"></footer>
</body>
</html>