<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header.html :: header(title='Main page')">
</head>
<body>
    <h1>Hello!</h1>
    <a th:href="@{/login}">Login page</a>
    <div sec:authorize="isAuthenticated()">
        <a th:href="@{/viewfiles}"> View files</a>
    </div>
    <div sec:authorize="hasAuthority('Role_Admin')">
        <a th:href="@{/userlist}">List of existing users</a>
    </div>
</body>
</html>