<!DOCTYPE html>
<html
        lang="en"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
        xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="fragments/header.html :: header(title='Registration')">
</head>
<body>
    <nav th:insert="fragments/navigationbar.html ::navigation_bar"></nav>
    <div class="container">
        <div th:insert="fragments/messages"></div>
        <div sec:authorize="!isAuthenticated()">
            <form method="post" th:action="@{/register}" th:object="${userForm}">
                <table>
                    <tr>
                        <td><label for="email">Email</label></td>
                        <td><input id="email" name="email" required th:field="*{email}" type="text"></td>
                        <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</td>
                    </tr>
                    <tr>
                        <td><label for="username">Username</label></td>
                        <td><input id="username" name="username" required th:field="*{username}" type="text"></td>
                        <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</td>
                    </tr>
                    <tr>
                        <td><label for="password">Password</label></td>
                        <td><input id="password" name="password" required th:field="*{password}" type="text"></td>
                        <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Register"></td>
                    </tr>
                </table>
            </form>
        </div>
        <a th:href="@{/login}">Login page</a><br>
        <div sec:authorize="hasAuthority('Role_Admin')">
            <a th:href="@{/userlist}">List of existing users</a>
        </div>
    </div>
    <footer th:insert="fragments/footer.html"></footer>
</body>
</html>