<!DOCTYPE html>
<html
        lang="en"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
        xmlns:th="http://www.thymeleaf.org"

>
<head th:insert="fragments/header.html :: header(title='Files')"></head>
<body>
    <nav th:insert="fragments/navigationbar.html :: navigation_bar"></nav>

    <div class="container">
        <div th:insert="fragments/messages"></div>
        <h1 class="text-center">File storage of <span sec:authentication="name">Username</span></h1>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Number</th>
                <th scope="col">Filename</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${backPath!=null}">
                <th scope="row">0</th>
                <td>
                    <a th:href="@{/viewfiles/{id} (id=${backPath})}" th:text="..">..</a>
                </td>
            </tr>
            <tr th:each="file,iter : ${files}">
                <th scope="row" th:text="${iter.count}">1</th>
                <td>
                    <a th:href="@{/viewfiles/{id} (id=${file.getRelPath()})}" th:if="${file.isDirectory()}"
                       th:text="${file.getFileName()}">File</a>
                    <a th:href="@{/download/{id} (id=${file.getRelPath()})}" th:if="${!file.isDirectory()}"
                       th:text="${file.getFileName()}">File</a>
                </td>
                <td>
                    <form method="post" th:action="@{/delete}">
                        <input name="pathToFile" th:value="${file.getRelPath()}" type="hidden">
                        <input name="redirectPath" th:value="${path}" type="hidden">
                        <button class="btn btn-warning" type="submit" value="Delete">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <form class="col-lg-6 offset-lg-3" enctype="multipart/form-data" method="post" th:action="@{/uploadpage}">
            <div class="row g-3 justify-content-center">
                <input name="path" th:value="${path}" type="hidden">
                <div class="col-auto">
                    <label for="file">Choose file to upload:</label>
                </div>
                <div class="col-auto">
                    <input class="form-control" id="file" name="file" required="required" type="file"/>
                </div>
                <div class="col-auto">
                    <button class="btn btn-secondary" type="submit">Upload file</button>
                </div>
            </div>
        </form>
        <form class="col-lg-6 offset-lg-3" method="post" th:action="@{/makedir}">
            <div class="row g-3 justify-content-center">
                <input name="path" th:value="${path}" type="hidden">
                <div class="col-auto">
                    <label for="dirName">Input name of new directory:</label>
                </div>
                <div class="col-auto">
                    <input class="form-control" id="dirName" name="name" pattern="[A-Za-z0-9 ]{1,20}"
                           required="required"
                           type="text"/>
                </div>
                <div class="col-auto">
                    <button class="btn btn-secondary" type="submit">Create directory</button>
                </div>
            </div>
        </form>
    </div>

    <footer th:insert="fragments/footer.html"></footer>
</body>
</html>