<!DOCTYPE html>
<html
        lang="en"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
        xmlns:th="http://www.thymeleaf.org"

>
<head th:insert="fragments/header.html :: header(title='Files')"></head>
<body>

    <h1 sec:authentication="name">Username</h1>

    <div>
        <table>
            <tr>
                <th>Filename</th>
            </tr>
            <tr th:if="${backPath!=null}">
                <td>
                    <a th:href="@{/viewfiles/{id} (id=${backPath})}" th:text="..">..</a>
                </td>
            </tr>
            <tr th:each="file: ${files}">
                <td>
                    <a th:href="@{/viewfiles/{id} (id=${file.getRelPath()})}" th:if="${file.isDirectory()}"
                       th:text="${file.getFileName()}">File</a>
                    <a th:href="@{/download/{id} (id=${file.getRelPath()})}" th:if="${!file.isDirectory()}"
                       th:text="${file.getFileName()}">File</a>
                    <form method="post" th:action="@{/delete}">
                        <input name="pathToFile" th:value="${file.getRelPath()}" type="hidden">
                        <input name="redirectPath" th:value="${path}" type="hidden">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <form enctype="multipart/form-data" method="post" th:action="@{/uploadpage}">
            <input name="path" th:value="${path}" type="hidden">
            <table>
                <tr>
                    <td>File to upload:</td>
                    <td><input name="file" type="file"/></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Upload file"/></td>
                </tr>
            </table>
        </form>
    </div>
    <div>
        <form method="post" th:action="@{/makedir}">
            <input name="path" th:value="${path}" type="hidden">
            <table>
                <tr>
                    <td>Name of new directory:</td>
                    <td><input name="name" pattern="[A-Za-z0-9 ]{1,20}" required="required" type="text"/></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Create directory"/></td>
                </tr>
            </table>
        </form>
    </div>

</body>
</html>