<!DOCTYPE html>
<html lang="en"
      xmlns:th="htpp://www.thymeleaf.org">
<head th:insert="fragments/header.html :: header(title='User list')">
</head>
<body>
    <nav th:insert="fragments/navigationbar.html :: navigation_bar"></nav>
    <div class="container">
        <div th:insert="fragments/messages"></div>
        <h1 class="text-center">List of users</h1>
        <form class="col-lg-6 offset-lg-3" method="get" th:action="@{/userlist}">
            <div class="row g-3 justify-content-center">
                <input id="pageNew" name="page" type="hidden" value="0">
                <div class="col-auto">
                    <label for="sizeNew">Users per page</label>
                </div>
                <div class="col-auto">
                    <input class="form-control" id="sizeNew" min="1" name="size" oninput="validity.valid||(value='');"
                           th:value="${users.getSize()}"
                           type="number">
                </div>
                <div class="col-auto">
                    <button class="btn btn-secondary" type="submit">Display</button>
                </div>
            </div>
        </form>
        <table class="table">
            <thead class="thead-black">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Username</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users.getContent()}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getUsername()}"></td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination"
                th:with="size=${users.getSize()}
                , page=${users.getNumber()}
                , totalPages=${users.getTotalPages()}
                , hasPrev=${users.hasPrevious()}
                , hasNext=${users.hasNext()}">
                <li class="page-item" th:if="${page>1}">
                    <a class="page-link" th:href="@{/userlist(page=0, size=${size})}">First</a>
                </li>
                <li class="page-item" th:if="${hasPrev}">
                    <a class="page-link" th:href="@{/userlist(page=${page-1},size=${size})}" th:text="${page}">1</a>
                </li>
                <li class="page-item active" th:if="${hasPrev || hasNext}">
                    <a class="page-link" th:href="@{/userlist(page=${page}, size=${size})}" th:text="${page+1}">2</a>
                </li>
                <li class="page-item" th:if="${hasNext}">
                    <a class="page-link" th:href="@{/userlist(page=${page+1}, size=${size})}" th:text="${page+2}">3</a>
                </li>
                <li class="page-item" th:if="${totalPages-page>2}">
                    <a class="page-link" th:href="@{/userlist(page=${totalPages-1}, size=${size})}">Last</a>
                </li>
            </ul>
        </nav>
    </div>

    <footer th:insert="fragments/footer.html"></footer>
</body>
</html>