<!DOCTYPE html>
<html lang="en"
      xmlns:th="htpp://www.thymeleaf.org">
<head th:insert="fragments/header.html :: header(title='User list')">
</head>
<body>
    <h1>List of registered users</h1>
    <form method="get" th:action="@{/userlist}">
        <input id="pageNew" name="page" type="hidden" value="0">
        <label for="sizeNew">Page size</label>
        <input id="sizeNew" name="size" th:value="${users.getSize()}" type="number">
        <button type="submit" class="btn btn-secondary">New paging</button>
    </form>
    <div class="container">
        <table class="table">
            <thead class="thead-black">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Username</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users.getContent()}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getUsername()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <span style="float:left;">
        <form method="get" th:action="@{/userlist}" th:if="${users.getNumber()>1}">
            <input id="pageFirst" name="page" th:value="0" type="hidden">
            <input id="sizeFirst" name="size" th:value="${users.getSize()}" type="hidden">
            <input type="submit" value="First page">
        </form>
    </span>
    <span style="float:left;">
        <form method="get" th:action="@{/userlist}" th:if="${users.hasPrevious()}">
            <input id="pagePrev" name="page" th:value="${users.getNumber()-1}" type="hidden">
            <input id="sizePrev" name="size" th:value="${users.getSize()}" type="hidden">
            <input type="submit" value="Previous page">
        </form>
    </span>
    <span style="float:left;">
        <form method="get" th:action="@{/userlist}" th:if="${users.hasNext()}">
            <input id="pageNext" name="page" th:value="${users.getNumber()+1}" type="hidden">
            <input id="sizeNext" name="size" th:value="${users.getSize()}" type="hidden">
            <input type="submit" value="Next page">
        </form>
    </span>
    <span style="float:left;">
        <form method="get" th:action="@{/userlist}" th:if="${(users.getTotalPages() - users.getNumber())>2}">
            <input id="pageLast" name="page" th:value="${users.getTotalPages()-1}" type="hidden">
            <input id="sizeLast" name="size" th:value="${users.getSize()}" type="hidden">
            <input type="submit" value="Last page">
        </form>
    </span>

    <footer th:insert="fragments/footer.html"></footer>
</body>
</html>