<!DOCTYPE html>
<html lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header.html :: header(title='User info')">
</head>
<body>
    <nav th:insert="fragments/navigationbar.html :: navigation_bar"></nav>
    <div class="container">
        <div th:insert="fragments/messages"></div>
        <p>Your user name = <span sec:authentication="name">Username</span></p>
        <div sec:authorize="hasAuthority('Role_Admin')">
            <p>Your roles: </p>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" th:each="authority : ${#authentication.getAuthorities()}"
                    th:text="${authority.getAuthority()}"></li>
            </ul>
        </div>

        <div>
            <div class="alert alert-primary" th:if="${change_password_message}"
                 th:text="${change_password_message}"></div>
            <div class="alert alert-danger" th:if="${change_password_error}"
                 th:text="${change_password_error}"></div>
            <form method="post" th:action="@{/changepassword}">
                <label for="new_pass">New password</label>
                <input class="form-control" id="new_pass" name="new_password" required type="text">
                <label for="new_pass_copy">New password again</label>
                <input class="form-control" id="new_pass_copy" name="new_password_copy" required type="text">
                <button class="btn btn-secondary" type="submit">Change password</button>
            </form>
        </div>

        <form method="post" th:action="@{/clear_folder}">
            <button class="btn btn-danger" type="submit">Delete all my files</button>
        </form>
        <form method="post" th:action="@{/logout}">
            <button class="btn btn-secondary" type="submit">Logout</button>
        </form>
    </div>
    <footer th:insert="fragments/footer.html :: footer"></footer>
</body>
</html>